<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.less.zhiro.dao.JurisdictionInfoMapper">
  <resultMap id="BaseResultMap" type="com.less.zhiro.entity.JurisdictionInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jurisdictionid" jdbcType="INTEGER" property="jurisdictionid" />
    <result column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="auth" jdbcType="VARCHAR" property="auth" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
  </resultMap>
</mapper>